.container {
	display: grid;

	min-height: 100vh;
	gap: 40px 30px;
	grid-template-areas:
		". header header ."
		". sidebar body ."
		"footer footer footer footer";

	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;
}

.body {
	grid-area: body;
}

.toContentTabIndex {
	position: absolute;
	top: 0;
	left: 100px;
	background-color: var(--primary);
	color: var(--white);
	height: 0;
	overflow: hidden;
}

.visible {
	padding: 5px;
	height: auto;
	overflow: visible;
}

.footer {
	grid-area: footer;
}

.header {
	display: none;
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

@media (max-width: 765px) {
	.sidebar {
		display: none !important;
	}

	.header {
		display: grid;
	}

	.container {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
		row-gap: 15px;
	}

	.body {
		padding: 0 20px;
	}
}
