.star {
	box-sizing: content-box;
	padding-right: 5px;
}

.filled {
	fill: var(--primary);
}

.container {
	position: relative;

	display: flex;
	align-items: center;
}

.editable {
	cursor: pointer;
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;
	top: 25px;
	left: 0;

	white-space: nowrap;

	color: var(--red);

	font-size: 14px;
}
