.container {
	margin-bottom: 20px;
}

.firstLevel {
	display: grid;
	align-items: center;

	margin-bottom: 20px;

	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelName {
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive {
	margin-bottom: 0;
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);
	border: none;
	outline-offset: -1px;
	background-color: transparent;

	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
}

.secondLevelWrapper {
	overflow: hidden;

	margin-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;

	border-left: 1px solid #dfdfdf;
}

.secondLevelItem {
	overflow: hidden;

	margin-bottom: 10px;
}

.secondLevelItemActive {
	margin-bottom: 0;
}

.secondLevelItem:last-child {
	margin-bottom: 0;
}

.thirdLevel {
	display: block;

	padding-left: 10px;

	cursor: pointer;

	color: var(--gray-dark);
	outline-offset: -1px;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.thirdLevelItem {
	margin-bottom: 10px;
}

.thirdLevelItem:last-child {
	margin-bottom: 0;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
