.sortIcon {
	position: absolute;
	top: 10px;
	left: -30px;

	display: none;
}

.container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 50px;
	justify-items: center;

	align-items: center;
}

.sortItem {
	position: relative;

	cursor: pointer;
	white-space: nowrap;
	background-color: transparent;
	color: var(--primary);
}

.active {
	background-color: var(--primary);
	color: var(--white);
}

.sortItem:hover {
	color: var(--white);
}
