.form {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 30px 20px;
}

.label {
	justify-self: right;
}

.input {
	width: 218px;
	margin-right: 10px;
}

.textarea {
	grid-column: start / end;

	height: 76px;
}

.send {
	display: inline;

	width: 148px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding: 10px 36px;
}

.actions {
	grid-column: start / end;
}

.note {
	display: inline-block;
}

.rate {
	display: flex;
	align-items: center;
	gap: 20px;

	justify-content: flex-end;
}

.success {
	background-color: var(--green-light);
}

.error {
	color: var(--white);
	background-color: var(--red);
}

.panel {
	position: relative;

	margin-top: 20px;
	padding: 20px;

	border-radius: 5px;
}

.title {
	margin-bottom: 10px;

	font-weight: bold;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;

	cursor: pointer;
}

.error .close path {
	stroke: white;
}

@media screen and (max-width: 1100px) {
	.form {
		grid-template-columns: [start] auto 1fr [end];
	}

	.rate {
		grid-row: 1/1;
		grid-column: start / end;
	}
}

@media screen and (max-width: 870px) {
	.form {
		grid-template-columns: [start] auto [end];
	}

	.input {
		width: 100%;
		margin-right: 0;
	}
}

@media screen and (max-width: 480px) {
	.send {
		display: block;

		margin: 0 auto 10px;
	}

	.note {
		display: block;

		text-align: center;
	}
}
