/* stylelint-disable declaration-colon-newline-after */
/* stylelint-disable value-list-comma-newline-after */
@import "./normalize.css";

:root {
	--font-size: 16px;

	/* colors */
	--black: #3b434e;
	--gray-light: #ebebeb;
	--white: white;
	--primary: #7653fc;
	--primary-hover: #4d25ed;
	--red: #de0000;
	--red-light: #fc836d;
	--green: #1dc37e;
	--green-light: #c8f8e4;
	--background: #f5f6f8;
	--gray-dark: #5c6065;
	--half-transparent-dark: rgb(0 0 0 / 5%);
}

html,
body {
	margin: 0;
	padding: 0;

	background-color: var(--background);

	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: var(--font-size);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visual-hidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}
